 table {
            width: 60%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        th, td {
            border: 1px solid #444;
            padding: 10px;
            text-align: center;
        }
        thead {
            background-color: #f2f2f2;
            font-weight: bold;
        }